<div class="movie-page-cont">
   <%= render 'shared/navbar' %>
  <main class="movie-page-main">
    <div>
      <div class="d-flex">
        <img src=<%= @movie.image %> class="m-poster">
        <div class="m-details p-5">
          <p class="text-success"><%= notice %></p>
          <%= ap_movie_page(@movie.id) %>
          <h2><%= @movie.title %></h2>
          <div>
            <% @movie.categories.each do |genre| %>
              <a href=<%= category_path(genre.name) %> class="genre-badge badge bg-secondary mb-5"><%= genre.name %></a>
            <% end %>
            <strong class="ms-3">
              <i class="fas fa-star fa-lg imdb-star"></i>
              <%= @movie.rating %>
              / 10
            </strong>
          </div>
          <p class="m-description"><%= @movie.description %></p>
          <%= link_to 'Back', movies_path %>
        </div>
      </div>
    </div>
  </main>
  <%= render 'shared/footer' %>
</div>

