<div class="auth-form-cont l-padding">
  <h1 class="form-h mb-3" >Sign-In</h1>
  <%= form_with url: log_in_path do |f| %>
    <div>
      <%= f.label 'email' %>
      <%= f.text_field :email, required: true %>
    </div>
    <div>
      <%= f.label 'password' %>
      <%= f.password_field :password, required: true, minlength: 8, placeholder: 'At least 8 characters' %>
    </div>
    <div class="mt-3">
      <%= f.submit 'Sign-In', { class: 'btn-submit' } %>
    </div>
    <div class="form-footer">
      <div class="d-flex align-items-center">
        <span class="d-border"></span>
        <span class="d-span mx-2">New to IMDb?</span>
        <span class="d-border"></span>
      </div>
      <a href=<%= sign_up_path %> class="signup-btn mt-3">Create your IMDb account</a>
    </div>
<% end %>
</div>
